# 코딩테스트 연습
## 2021 카카오 채용연계형 인턴십 > 숫자 문자열과 영단어

```
문제 설명
img1.png

네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"
234567 → "23four5six7"
10203 → "1zerotwozero3"
이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 solution 함수를 완성해주세요.

참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어
0	zero
1	one
2	two
3	three
4	four
5	five
6	six
7	seven
8	eight
9	nine
제한사항
1 ≤ s의 길이 ≤ 50
s가 "zero" 또는 "0"으로 시작하는 경우는 주어지지 않습니다.
return 값이 1 이상 2,000,000,000 이하의 정수가 되는 올바른 입력만 s로 주어집니다.
입출력 예
s	result
"one4seveneight"	1478
"23four5six7"	234567
"2three45sixseven"	234567
"123"	123
입출력 예 설명
입출력 예 #1

문제 예시와 같습니다.
입출력 예 #2

문제 예시와 같습니다.
입출력 예 #3

"three"는 3, "six"는 6, "seven"은 7에 대응되기 때문에 정답은 입출력 예 #2와 같은 234567이 됩니다.
입출력 예 #2와 #3과 같이 같은 정답을 가리키는 문자열이 여러 가지가 나올 수 있습니다.
입출력 예 #4

s에는 영단어로 바뀐 부분이 없습니다.
```

In [ ]:
def solution(s):
    e_num = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    
    for i in range(len(e_num)):
        if e_num[i] in s:
            s = s.replace(e_num[i], str(i))
    
    return int(s)

In [ ]:
solution("one0seveneight")

1078

In [ ]:
solution("23four5six7")

234567

In [ ]:
solution("2three45sixseven")

234567

In [ ]:
solution("123")

123

채점 결과
정확성: 100.0
합계: 100.0 / 100.0

replace 결과값은 저장해야함

# 코딩테스트 연습
## 정렬 > K번째수

```
문제 설명
배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, 
commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항
array의 길이는 1 이상 100 이하입니다.
array의 각 원소는 1 이상 100 이하입니다.
commands의 길이는 1 이상 50 이하입니다.
commands의 각 원소는 길이가 3입니다.
입출력 예
array	commands	return
[1, 5, 2, 6, 3, 7, 4]	[[2, 5, 3], [4, 4, 1], [1, 7, 3]]	[5, 6, 3]
입출력 예 설명
[1, 5, 2, 6, 3, 7, 4]를 2번째부터 5번째까지 자른 후 정렬합니다. [2, 3, 5, 6]의 세 번째 숫자는 5입니다.
[1, 5, 2, 6, 3, 7, 4]를 4번째부터 4번째까지 자른 후 정렬합니다. [6]의 첫 번째 숫자는 6입니다.
[1, 5, 2, 6, 3, 7, 4]를 1번째부터 7번째까지 자릅니다. [1, 2, 3, 4, 5, 6, 7]의 세 번째 숫자는 3입니다.
```

In [ ]:
def solution(array, commands):
    answer = []
      
    for i in range(len(commands)):
        a = commands[i][0] - 1
        b = commands[i][1]
        c = commands[i][2] - 1
        # arr_so = sorted(array[a:b])
        # arr_so.sort()
        answer.append(sorted(array[a:b])[c])
        
    return answer

In [ ]:
solution([1, 5, 2, 6, 3, 7, 4], [[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]

채점 결과
정확성: 100.0
합계: 100.0 / 100.0

list에는 .sort() 사용시 따로 저장없이 다음줄에 써야 오류가 나지않음
sorted(list)는 바로 사용 가능

# 코딩테스트 연습
## Summer/Winter Coding(2019) > 멀쩡한 사각형
```
문제 설명
가로 길이가 Wcm, 세로 길이가 Hcm인 직사각형 종이가 있습니다. 
종이에는 가로, 세로 방향과 평행하게 격자 형태로 선이 그어져 있으며, 모든 격자칸은 1cm x 1cm 크기입니다. 
이 종이를 격자 선을 따라 1cm × 1cm의 정사각형으로 잘라 사용할 예정이었는데, 누군가가 이 종이를 대각선 꼭지점 2개를 잇는 방향으로 잘라 놓았습니다. 
그러므로 현재 직사각형 종이는 크기가 같은 직각삼각형 2개로 나누어진 상태입니다. 새로운 종이를 구할 수 없는 상태이기 때문에, 
이 종이에서 원래 종이의 가로, 세로 방향과 평행하게 1cm × 1cm로 잘라 사용할 수 있는 만큼만 사용하기로 하였습니다.
가로의 길이 W와 세로의 길이 H가 주어질 때, 사용할 수 있는 정사각형의 개수를 구하는 solution 함수를 완성해 주세요.

제한사항
W, H : 1억 이하의 자연수
입출력 예
W	H	result
8	12	80
입출력 예 설명
입출력 예 #1
가로가 8, 세로가 12인 직사각형을 대각선 방향으로 자르면 총 16개 정사각형을 사용할 수 없게 됩니다. 
원래 직사각형에서는 96개의 정사각형을 만들 수 있었으므로, 96 - 16 = 80 을 반환합니다.
```

In [ ]:
import math

def solution(w,h):
    w_list = [w,0]
    h_list = [0,h]
    a = (w_list[1]-h_list[1])/(w_list[0]-h_list[0])

    n = 0
    
    for x in range(w+1):
        if x != 0:
            n += math.ceil(a * (x-1)) - math.floor(a * x)
            
    return w*h - n

In [ ]:
solution(8,12)

80

채점 결과
정확성: 77.8
합계: 77.8 / 100.0

실패 1문제, 시간초과 3문제

In [ ]:
import math

def solution(w,h):
    
    # 최소제곱법 사용
    n = math.gcd(w,h)
    
    # 사각형 넓이 - 가장자리 빼기 - 최대공약수 빼기
    return w*h - (w+h-1) + n-1

In [ ]:
solution(8,12)

80

채점 결과
정확성: 100.0
합계: 100.0 / 100.0

최대공약수 함수 math.gcd()

# 코딩테스트 연습
## 월간 코드 챌린지 시즌1 > 내적
```
문제 설명
길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다. a와 b의 내적을 return 하도록 solution 함수를 완성해주세요.

이때, a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

제한사항
a, b의 길이는 1 이상 1,000 이하입니다.
a, b의 모든 수는 -1,000 이상 1,000 이하입니다.
입출력 예
a	b	result
[1,2,3,4]	[-3,-1,0,2]	3
[-1,0,1]	[1,0,-1]	-2
입출력 예 설명
입출력 예 #1

a와 b의 내적은 1*(-3) + 2*(-1) + 3*0 + 4*2 = 3 입니다.
입출력 예 #2

a와 b의 내적은 (-1)*1 + 0*0 + 1*(-1) = -2 입니다.
```

In [ ]:
def solution(a, b):
    for i in range(len(a)):
        if i != 0:
            answer = answer + a[i]*b[i]
        else:
            answer = a[i]*b[i]
    return answer

In [ ]:
solution([1,2,3,4],[-3,-1,0,2])

3

채점 결과
정확성: 100.0
합계: 100.0 / 100.0

In [ ]:
def solution(a, b):

    # zip 활용 코드
    return sum(x*y for x, y in zip(a,b))

In [ ]:
solution([1,2,3,4],[-3,-1,0,2])

3