- numpy로 0~1 랜덤한 값을 10개 만들고
- 10개의 값을 가지는 r 컬럼의 데이터프레임을 만들고
- five_r이라는 r 컬럼에 5배 곱한 컬럼을 새로 만들고
- 이를 정수화 한 값의 cat이라는 컬럼을 만든다
- cat이외의 모든 컬럼을 삭제한다

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# numpy로 0~1 랜덤한 값을 10개 만들고
a = np.random.rand(10)
print(a)

[0.64937835 0.96073338 0.47751099 0.87030141 0.01771228 0.72990758
 0.39363173 0.63070028 0.92926775 0.39273724]

In [ ]:
# 10개의 값을 가지는 r 컬럼의 dataframe을 만들고
df = pd.DataFrame({"r":a})
print(df)

          r
0  0.649378
1  0.960733
2  0.477511
3  0.870301
4  0.017712
5  0.729908
6  0.393632
7  0.630700
8  0.929268
9  0.392737

In [ ]:
# 5r이라는 r 컬럼에 5배 곱한 럼럼을 새로 만들고
df['five_r'] = df.r*5
print(df)

          r    five_r
0  0.649378  3.246892
1  0.960733  4.803667
2  0.477511  2.387555
3  0.870301  4.351507
4  0.017712  0.088561
5  0.729908  3.649538
6  0.393632  1.968159
7  0.630700  3.153501
8  0.929268  4.646339
9  0.392737  1.963686

In [ ]:
# cat 이라는 정수값을 하는 컬럼을 만든다.
df['cat'] = df.five_r.astype(np.int)
print(df)

          r    five_r  cat
0  0.649378  3.246892    3
1  0.960733  4.803667    4
2  0.477511  2.387555    2
3  0.870301  4.351507    4
4  0.017712  0.088561    0
5  0.729908  3.649538    3
6  0.393632  1.968159    1
7  0.630700  3.153501    3
8  0.929268  4.646339    4
9  0.392737  1.963686    1

In [ ]:
# cat외의 모든 컬럼을 삭제한다.
df.drop(columns=["r","five_r"], inplace=True)
print(df)

   cat
0    3
1    4
2    2
3    4
4    0
5    3
6    1
7    3
8    4
9    1