# 4일차 연습문제

=============== capsule ===============

In [8]:
balance = 8000

def deposit(money):
    global balance
    balance += money
def inquire():
    print("잔액은 %d원입니다." % balance)

In [9]:
deposit(1000)

In [10]:
inquire()

잔액은 9000원입니다.

=============== account ===============

In [26]:
class Account:
    def __init__(self, balance):
        self.balance = balance
    def deposit(self, money):
        self.balance += money
    def inquire(self):
        print("잔액은 %d원입니다." % balance)

In [20]:
sinhan = Account(8000)
sinhan.deposit(1000)
sinhan.inquire()

잔액은 9000원입니다.

In [27]:
nonghyup = Account(1200000)
nonghyup.inquire()

잔액은 9000원입니다.

=============== human ===============

In [36]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def intro(self):
        print(str(self.age) +"살 "+ self.name+"입니다.")

In [37]:
kim = Human(29, "홍길동")

In [38]:
kim.intro()

29살 홍길동입니다.

In [41]:
lee = Human(45, "이승우")

In [42]:
lee.intro()

45살 이승우입니다.

 =============== student ===============

In [59]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def intro(self):
        print(str(self.age) + "살 " + self.name+"입니다.")

In [66]:
class student(Human):
    def __init__(self, age, name, stunum):
        super().__init__(age, name)
        self.stunum = stunum
    def intro(self):
        super().intro()
        print("학번 : " + str(self.stunum))
    def study(self):
        print("하늘천 따지 검을현 누를황")

In [67]:
kim = Human(29, "홍길동")

In [68]:
kim.intro()

29살 홍길동입니다.

In [69]:
lee = student(34, "이승우", 930011)

In [70]:
lee.intro()

34살 이승우입니다.
학번 : 930011

In [71]:
lee.study()

하늘천 따지 검을현 누를황

=============== getset ===============

In [72]:
class Date:
    def __init__(self,month):
        self.month = month
    def getmonth(self):
        return self.month
    def setmonth(self, month):
        if 1<= month <= 12:
            self.month = month

In [76]:
today = Date(8)
today.setmonth(15)   # 1<= month <= 12 범위안에 들지않아서 안나옴
print(today.getmonth())

8

 =============== property ===============

In [78]:
class Date:
    def __init__(self, month):
        self.inner_month = month
    def getmonth(self):
        return self.inner_month
    def setmonth(self, month):
        if 1<= month <= 12:
            self.inner_month = month
    month = property(getmonth,setmonth)

In [81]:
today = Date(8)
today.month = 15
print(today.month)

8

============== property2 ===============

In [86]:
class Date:
    def __init__(self, month):
        self.inner_month = month
    @property
    def month(self):
        return self.inner_month
    @month.setter
    def month(self, month):
        if 1 <= month <= 12:
            self.inner_month = month

In [87]:
today = Date(8)
today.month = 15
print(today.month)

8

=============== hidden ===============

In [89]:
class Date:
    def __init__(self, month):
        self.__month = month
    def getmonth(self):
        return self.__month
    def setmonth(self,month):
        if 1<= month <= 12:
            self.__month = month
    month = property(getmonth, setmonth)

In [90]:
today = Date(8)
today.__month = 15
print(today.month)

8

=============== classmethod ===============

In [139]:
class Car:
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count += 1
    @classmethod
    def outcount(a):
        print(a.count)

In [140]:
pride = Car("프라이드")
korando = Car("코란도")
Car.outcount()

2

============== staticmethod ===============

In [93]:
class Car:
    @staticmethod
    def hello():
        print("오늘도 안전 운행 합시다.")
    count = 0
    def __init__(self, name):
        self.name = name
        Car.count +=1
    @classmethod
    def outcount(cls):
        print(cls.count)

In [94]:
Car.hello()

오늘도 안전 운행 합시다.

=============== eqop ===============

In [97]:
class Human:
    def __init__(self,age,name):
        self.age = age
        self.name = name
    def __eq__(self,other):
        return self.age == other.age and self.name == other.name

In [98]:
kim = Human(29, "홍길동")

In [99]:
sang = Human(29, "홍길동")

In [100]:
moon = Human(44, "문종민")

In [103]:
moon2 = Human(29, "문종민")

In [101]:
print(kim == sang)

True

In [102]:
print(kim == moon)

False

In [104]:
print(kim == moon2)

False

=============== clsstr ===============

In [105]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
    def __str__(self):
        return "이름 %s, 나이 %d" % (self.name, self.age)

In [106]:
kim = Human(29, "홍길동")
print(kim)

이름 홍길동, 나이 29

=============== clslen ==============

In [108]:
class Human:
    def __init__(self,age, name):
        self.age = age
        self.name = name
    def __len__(self):
        return self.age

In [109]:
kim = Human(29, "홍길동")
print(len(kim))

29

# 10장 연습문제

In [122]:
class Thing:
    pass

In [123]:
example = Thing()

In [124]:
print(Thing)

<class '__main__.Thing'>

In [125]:
print(example)

<__main__.Thing object at 0x000001C6B8BC57F0>

In [126]:
class Thing2:
    letters = 'abc'

In [127]:
Thing2.letters

'abc'