# 8장 연습문제

In [17]:
life = {'animals','plants', 'other'}

In [18]:
down = {'cats':'Henri', 'octopi':'Grumpy', 'emus':'Luky'}

In [23]:
life = {'animals':{'cats':'Henri','octopi':'Grumpy', 'emus':'Luky'},
       'plants':{}, 
        'other':{}}

In [24]:
life

{'animals': {'cats': 'Henri', 'octopi': 'Grumpy', 'emus': 'Luky'},
 'plants': {},
 'other': {}}

In [27]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [30]:
life['animals']

{'cats': 'Henri', 'octopi': 'Grumpy', 'emus': 'Luky'}

In [31]:
life['animals']['cats']

'Henri'

In [45]:
numb=list(range(10))
squares= {ran: pow(ran,2) for ran in numb}

In [46]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [47]:
odd_set = {odd for odd in list(range(10)) if odd%2 == 1}

In [48]:
odd_set

{1, 3, 5, 7, 9}

In [93]:
for x in range(10): 
    if x <= max(range(10)): 
        print('Got'+ ' '+str(x))

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

In [95]:
Got_x = {('Got'+ ' '+str(x)) for x in range(10)  if x <= max(range(10)) }

In [96]:
Got_x

{'Got 0',
 'Got 1',
 'Got 2',
 'Got 3',
 'Got 4',
 'Got 5',
 'Got 6',
 'Got 7',
 'Got 8',
 'Got 9'}

In [63]:
dict(zip(('optimist','pessimisr','troll'),('The glass us half full', 'The glass is half empty', 'How did you get a glass')))

{'optimist': 'The glass us half full',
 'pessimisr': 'The glass is half empty',
 'troll': 'How did you get a glass'}

In [57]:
title = ['Creature of habit', 'Crewel Fate']
plots = ['A nun turns into a mon ster', 'A haunted yarn shop']

In [65]:
movies = dict(zip(title, plots))

In [66]:
movies

{'Creature of habit': 'A nun turns into a mon ster',
 'Crewel Fate': 'A haunted yarn shop'}

# 9장 연습문제

In [75]:
def good():
    return ['Harry', 'Ron', 'Hermione']

In [76]:
good()

['Harry', 'Ron', 'Hermione']

In [71]:
get_odds = {odd for odd in range(10) if odd%2 == 1}

In [72]:
get_odds

{1, 3, 5, 7, 9}

In [74]:
list(get_odds)[2]

5

# 3일차 연습문제_Function

In [97]:
def calcsum(n):
    sum = 0
    for num in range(n+1):
        sum += num
    return sum

In [98]:
print("~ 4 =", calcsum(4))

~ 4 = 10

In [ ]:
print("~ 10 =", calcsum(10))

In [100]:
def calcrange(begin, end):
    sum = 0
    for num in range(begin, end + 1):
        sum += num
    return sum

In [102]:
print("3 ~ 7 =", calcrange(3,7))

3 ~ 7 = 25

In [103]:
def printsum(n):
    sum = 0
    for num in range(n+1):
        sum += num
    print("~", n , "=", sum)

In [104]:
printsum(4)

~ 4 = 10

In [105]:
printsum(10)

~ 10 = 55

In [106]:
def intsum(*ints):
    sum = 0
    for num in ints:
        sum += num
    return sum

In [107]:
print(intsum(1,2,3))

6

In [108]:
print(intsum(5,7,9,11,13))

45

In [109]:
print(intsum(8,9,6,2,9,7,5,8))

54

In [128]:
def calcstep(begin, end, step):
    sum = 0 
    for num in range(begin, end+1, step):
        sum += num
    return sum

In [117]:
print("1 ~ 10 = ", calcstep(1,10,2))

1 ~ 10 =  25

In [118]:
print("2 ~ 10 = ", calcstep(2,10,2))

2 ~ 10 =  30

In [129]:
print("1~10= ", calcstep(1,10))

TypeError: calcstep() missing 1 required positional argument: 'step'

In [130]:
def calcstep(begin, end ,step=1):# step=1 디폴트값 지정하면 변수 두개만 넣어도 오류안남
    sum = 0
    for num in range(begin, end+1, step):
        sum +=num
    return sum

In [131]:
print("1~10= ", calcstep(1,10,2))

1~10=  25

In [132]:
print("1~100= ", calcstep(1,100))

1~100=  5050

In [137]:
def calcstep(**args):
    begin = args['begin']
    end = args['end']
    step = args['step']
    
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
    return sum

In [138]:
print("3~ 5 =", calcstep(begin = 3, end = 5, step =1))

3~ 5 = 12

In [139]:
print("3 ~ 5 =", calcstep(step = 1, end = 5, begin = 3))

3 ~ 5 = 12

In [141]:
def calcscore(name, *score, **option):
    print(name)
    sum = 0
    for s in score:
        sum += s
    print("총점 : ", sum)
    if (option['avg'] == True):
        print("평균 : ", sum/len(score))

In [143]:
calcscore("김상형", 88, 99, 77, avg = True )

김상형
총점 :  264
평균 :  88.0

In [144]:
calcscore("김한슬", 99, 98, 95, 89, avg = False)

김한슬
총점 :  381

In [145]:
def kim():
    temp = "김과장의 함수"
    print(temp)

In [146]:
kim()

김과장의 함수

In [149]:
print(temp)

NameError: name 'temp' is not defined

In [150]:
def kim():
    temp = "김과장의 함수"
    print(temp)
def lee():
    temp = 2**10
    return temp
def park(a):
    temp = a*2
    print(temp)

In [151]:
kim()

김과장의 함수

In [152]:
print(lee())

1024

In [154]:
park(6)

12

In [156]:
salerate = 0.9

def kim():
    print("오늘의 할인율:", salerate)
def lee():
    price = 1000
    print("가격 : ", price*salerate)

In [157]:
kim()

오늘의 할인율: 0.9

In [158]:
salerate = 1.1
lee()

가격 :  1100.0

In [165]:
price = 1000

def sale():
    price = 500

In [169]:
sale()
print(price)

1000

In [170]:
price = 1000

def sale():
    price = 500
    print("sale", id(price))         #id역할??

In [171]:
sale()

sale 2686465310192

In [173]:
print("global", id(price))

global 2686465310416

In [174]:
price = 1000

def sale():
    global price     # global 무슨역할??
    price = 500

In [176]:
sale()
print(price)

500

In [179]:
def calcsum(n):
    """1 ~ n까지의 합계를 구해 리턴한다."""   # """따옴표 세개 의미??
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

In [180]:
help(calcsum)

Help on function calcsum in module __main__:

calcsum(n)
    1 ~ n까지의 합계를 구해 리턴한다.

In [185]:
calcsum(7)

28

In [186]:
print(abs(-5))

5

In [187]:
print(max(3,7))

7

In [188]:
print(min([8,9,1,6,2]))

1

# 3일차 연습문제_Class

In [201]:
balance = 8000

def deposit(money):
    global balance
    balance += money

def inquire():
    print("잔액은 %d원 입니다." %balance)

In [202]:
deposit(1000)

In [203]:
inquire()

잔액은 9000원 입니다.

In [210]:
class Account:
    def __init__(self, balance):
        self.balance = balance
    def deposit(self, money):
        self.balance += money
    def inquire(self):
        print("잔액은 %d원 입니다." % self.balance)

In [211]:
sinhan = Account(8000)
sinhan.deposit(1000)
sinhan.inquire()

잔액은 9000원 입니다.

In [212]:
nonghyup = Account(1200000)
nonghyup.inquire()

잔액은 1200000원 입니다.